
              <ion-header no-border *ngIf="showHeader">
            <ion-navbar>
             <!--  <ion-buttons left>
                <button ion-button icon-only>
                  <ion-icon name='settings' (click)="gotoSettings()"></ion-icon>
                </button>
              </ion-buttons> -->
              <ion-title text-center>
                Coinpedia.org
              </ion-title>
              <ion-buttons right>
                <button ion-button icon-only (click)="ionViewDidLoad()" *ngIf="sliderTwo.isBeginning()" >
                 <ion-icon name='refresh'></ion-icon>
                </button>
                <button ion-button icon-only (click)="gotoFirstSlide()" *ngIf="!sliderTwo.isBeginning()" >
                 <ion-icon style="transform: rotate(180deg);" name='download'></ion-icon>
                </button>
              </ion-buttons>
            </ion-navbar>
          </ion-header>


          <ion-content>

    <ion-slides  #sliderOne>
            <ion-slide>
            <ion-slides direction="vertical" spaceBetween="5" #sliderTwo (ionSlideReachEnd)="loadMorePosts()">

                <ion-slide id="slide-post" (click)="showHeader = !showHeader;shareLink = post.link" (swipeleft)="swipeLeft($event,post)" *ngFor="let post of posts;let i = index">

                    <div class="header" style="background: linear-gradient(to top, transparent,black);"  (swipedown)="swipeDown($event)" >
                        <img  [src]="post.image" style="border-radius: 20px 20px 0px 0;" onError="this.src='https://lh3.googleusercontent.com/--pEnUJMyifg/XVugYEBn5vI/AAAAAAAAJog/UhFtiSQ3OLohboI201ovjEVzyCfJ85pngCK8BGAs/s0/2019-08-20.png'">
                    </div>
                <div class="news-card z-depth-1" itemscope="" style="margin-top: 0;padding-top: 0">
                  <div class="news-card-title news-right-box">
                    <a class="clickable">
                      <span itemprop="headline" [innerHtml]="post.title"></span>
                    </a>
                  </div>
                  <div class="news-card-content news-right-box">
                    <div itemprop="articleBody" [innerHtml]="post.content"></div>
                    <div class="news-card-author-time news-card-author-time-in-content">
                      <span class="short">story</span> by <span class="author">{{post.author}}</span> / 
                      <span class="time">{{post.date | date:'shortTime'}}</span> on <span clas="date">{{post.date | date:'mediumDate'}}</span>
                    </div>
                  </div>
                </div>
              </ion-slide>
            </ion-slides>
        </ion-slide>
        <ion-slide>
          <ion-header no-border>
            <ion-navbar>
              <ion-buttons left>
                <button ion-button icon-only (click)="closeBrowser()">
                  <ion-icon name='close'></ion-icon>
                </button>
              </ion-buttons>
              <ion-title>
                Coinpedia.org
              </ion-title>
              <!--  <ion-buttons right>
                <button ion-button icon-only>
                 <ion-icon name='open'>
                  <a [href]="browserURL" target="_blank"></a>
                 </ion-icon>
                </button>
              </ion-buttons> -->
            </ion-navbar> 
          </ion-header>
          <div id="browser">
          <iframe width="100%"  class="iframe-placeholder"  height="100%" style="height:100vh;" [src]="browserURL"></iframe>
        </div>
        </ion-slide>
    </ion-slides>
</ion-content>
          <ion-footer  *ngIf="showHeader">
            <ion-row>
              <ion-col style="border-right: 1px solid #ddd;" text-center no-padding>
                 <button no-margin ion-button clear icon-only (click)="share()">
                  <ion-icon name='md-share'></ion-icon>
                </button>
                <p style="margin: 0;margin-top: -4px;color: #aaa;font-size: 12px;">Share</p>
              </ion-col>
              <ion-col text-center no-padding>
                 <button no-margin ion-button clear icon-only (click)="like()">
                  <!-- <ion-icon style="font-size: 30px;" name='ios-thumbs-up-outline' *ngIf="!liked"></ion-icon> -->
                  <!-- <ion-icon style="font-size: 30px;" name='ios-thumbs-up' *ngIf="liked"></ion-icon> -->
                  <ion-icon style="font-size: 30px;" name='open'></ion-icon>
                </button>
                <p style="margin: 0;margin-top: -4px;color: #aaa;font-size: 12px;">Open in Browser</p>
              </ion-col>
            </ion-row>
          </ion-footer>